<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Factures</title>
</head>
<body>
    {% if data.webbrowser == True %} 
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <button class="btn btn-outline-success" type="button">Nouvelle Facture</button>
          <button class="btn btn-outline-success" type="button">Download</button>
        </form>
      </nav>
    {% endif %}

    <div class="row">
        <div class="col-6">
            <ul class="left">
                <li><em>{{data.name}}</em></li>
                <li>10J rue de la République</li>
                <li>38600 Fontaine</li>
                <li>Siret : 82782672800012 </li>
                <li>Email : florian.dadouchi@gmail.com</li>
            </ul>            
        </div>
        <div class="col-6 ">
            <ul class="right">
                <li>Date : {{ data.date_emission_facture }}</li>
                <li>Facture N° : {{ data.num_facture }}</li>
            </ul>
        </div>    
    </div>

    {% if data.organisme == "Campus" %} 
    <div class="row scic">
      <div class="col-6"></div>
      <ul class="col-6 right">
          <li>SCIC Le Campus Numérique in the Alps</li>
          <li>16 boulevard Maréchal Lyautey</li>
          <li>38000 Grenoble</li>
          <li>France</li>
      </ul>
  </div>
    {% endif %}

    <div class="row objet">
        <div class="col-12">
            <b>Objet : Facturation Interventions Module "{{data.nom_module}}"</b>
        </div> 
    </div>

    <div class="row">
        <div class="col-12">
            Dispensé d'immatriculation au registre du commerce et des sociétés (RCS) et au répertoire des métiers
            (RM)
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">DESIGNATION</th>
                    <th scope="col">QTE</th>
                    <th scope="col">PU HT</th>
                    <th scope="col">TOTAL HT</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>
                        Animation module {{data.nom_module}}
                        <ul>
                            {% for date in data.date_cours %}
                                {{ date }}
                                {% if loop.index < data.date_cours|length %} - 
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{data.qte}}</td>
                    <td>{{data.prix_journalier}}</td>
                    <td>{{data.prix_total_animation}}</td>
                  </tr>
                  {% if data.nbre_jour_prepa > 0 %} - 
                  <tr>
                    <th scope="row">2</th>
                    <td>Préparation module {{data.nom_module}}</td>
                    <td>{{data.nbre_jour_prepa}}</td>
                    <td>{{data.prix_journalier}}</td>
                    <td>{{data.prix_preparation}}</td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
        </div>
    </div>


    <div class="row">
        <div class="col-7"></div>
        <div class="col-5">
            <table class="table table-bordered ">
                <tbody>
                  <tr>
                    <th scope="row">TOTAL HT</th>
                    <td>{{data.prix_total}}</td>
                  </tr>
                  <tr>
                    <th scope="row">NET A PAYER</th>
                    <td>{{data.prix_total}}</td>
                  </tr>
                  <tr>
                </tbody>
              </table>
              <div class="tva">TVA non applicable, art. 293 B du CGI</div>

        </div>
    </div>
    <div class="row signature">
        <img src="{{ url_for('static', filename='/assets/signature.png') }}" onerror="this.src='/usr/app/static/assets/signature.png'" alt="signature">
    </div>   
    <img class="rib" src="{{ url_for('static', filename='/assets/rib.png') }}" onerror="this.src='/usr/app/static/assets/rib.png'" alt="rib">


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>